@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-50 text-gray-900;
	}

	h1 {
		@apply text-3xl font-bold;
	}

	h2 {
		@apply text-2xl font-bold;
	}
}

